/* .nav-item nav-link {
    display: flex;
    justify-content: flex-end;
} */

.appname{
    display: flex;
    margin: 0 auto center alingment;
    justify-content: center;
}

p.lead {
    display: flex;
    justify-content: center;
}

.jumbotron my-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #555555;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
   }  

.list{
    display: flex;
    justify-content: center;
    padding: 100px;
    
}

section.s2{
    display: flex;
    color: white;
    justify-content: left;
    align-items: center;
    margin: auto;
    background-color: #767676;
}

p.quote1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 300px;
}

p.quote2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 300px;
}

.quotes1{
    position: relative;
}

/* #triangle1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 1;
    min-width: 300px;
    padding: 30px;
    padding-left: 400px;
    bottom: 0;
    left: 50%
} */



div {
    margin: auto 0;
}