/* .nav-item nav-link {
    display: flex;
    justify-content: flex-end;
} */

.appname{
    display: flex;
    margin: 0 auto center alingment;
    justify-content: center;
}

p.lead {
    display: flex;
    justify-content: center;
}

.jumbotron my-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: darkgray;
    /* padding-left: 30px; */
   
    
}  

div {
    margin: auto 0;
}